<h2>Om webbplatsen</h2>
<div class="all">
    <div id="about-text">
    <h3>Arbetet process</h3>
    <p>Denna webbplats har jag skapat med hjälp av Angular. För startsidan har jag lagt in en bild som jag gjort med hjälp av en propertie och data binding. Jag har skapat många komponenter för att ha ett strukturerat arbete och få ut så mycket av momentet som möjligt. Header, footer, alla olika sidor samt not found-sida fick egna komponenter.</p>

    <p>För home användes användes två-vägs data binding där input tillsammans med en knapp anropar en funktion som sedan lagrar resultatet i "result".</p>
    <br><p>Slutsatser jag tar är att det blir mycket lättare att hålla koll på alla styling då alla har egna styling-filer vilket känns väldigt bra när man vill ha det strukturerat. Data-binding, komponenter och 
        templates fungerade mycket väl och det var kul att jobba med. Jag ser fram emot att lära mig mer om Angular och dess funktionalitet som känns väldigt effektivt att jobba med.</p>
</div>
</div>