.flex, .buttons{
    display: flex;
    flex-direction: row;
}
div{
    margin: 0.5em;
}
label{
    margin-left: 0.5em;
    margin-right: 0.3em;
}
input{
    border: 1px solid #9bad9c;
    border-radius: 6px;
}
button{
    padding: 1em 2em;
    border-radius: 8px;
    background-color: #9bad9c;
    color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.buttons{
    margin-top: 1em;
}
button:hover{
    background-color: white;
    color: #515c52;
    cursor: pointer;
}
@media (max-width: 799px){
    .flex, .buttons{
        display: flex;
        flex-direction: column;
    }
}