.flex, .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
div{
    margin: 0.5em;
}
label{
    margin-left: 0.5em;
    margin-right: 0.3em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: 1px solid #9bad9c;
    border-radius: 6px;
    margin-bottom: 0.7em;
    margin-left: 0.5em;
}
button:hover{
    background-color: white;
    color: #515c52;
    cursor: pointer;
}
@media (min-width: 800px){
    button{
        padding: 1em 2em;
        border-radius: 8px;
        background-color: #9bad9c;
        color: white;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 1em;
        margin-right: 1em;
    }
}
@media (max-width: 799px){
    .flex, .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    button{
        margin-top: 1em;
    }
    .buttons{
        margin-bottom: 1em;
    }
    input{
        margin-left: auto;
    }
    button{
        padding: 1em 2em;
        border-radius: 8px;
        background-color: #9bad9c;
        color: white;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 1em;
    }
}