body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #8eac90;
}
*{
    line-height: 1.5;
    margin: 0 auto;
}
h2, header, h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 1em;
    color: #233224;
}
h2{
    margin-bottom: 1em;
    color: #404f41;
}
.all{
    background-color: rgb(238, 238, 238);
    padding: 1.5em 6em;
    border-radius: 10px;
    margin-top: 1.5em;
}